@import url("https://fonts.googleapis.com/css2?family=Borel&family=Roboto&display=swap");
/*font-family: 'Borel', cursive;
font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Playfair+Display:ital@0;1&family=Roboto&display=swap");
/*font-family: 'Borel', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/

body {
  background-color: #f7f4e8;
}

#nav {
  padding-bottom: 0px;
}

#nav div {
  background-color: #85e6c0;
}

#nav a {
  color: #0b0b0d;
  text-decoration-line: overline;
  font-family: 'Roboto', sans-serif;
}

#nav .dropdown-menu .dropdown-item {
  text-decoration-line: none;
  font-size: smaller;
}

#logo {
  width: 35px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}
